

    {include file="Common/header"}
    <!-- Fixed navbar -->

    {include file="Common/nav"}


    <section class="flexslider">
      <ul class="slides">
        <li style="background-image: url(__index__/img/slider_1.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading">The Gallery</h1>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="portfolio-feed three-cols">
              <div class="grid-sizer"></div>
              <div class="gutter-sizer"></div>
              <div class="probootstrap-gallery">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_1.jpg" itemprop="contentUrl" data-size="1000x666">
                  <img src="__index__/img/slider_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_2.jpg" itemprop="contentUrl" data-size="1000x667">
                  <img src="__index__/img/slider_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_3.jpg" itemprop="contentUrl" data-size="1000x1500">
                  <img src="__index__/img/slider_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_4.jpg" itemprop="contentUrl" data-size="1000x662">
                  <img src="__index__/img/slider_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>

              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_1.jpg" itemprop="contentUrl" data-size="1000x666">
                  <img src="__index__/img/slider_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_2.jpg" itemprop="contentUrl" data-size="1000x667">
                  <img src="__index__/img/slider_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_3.jpg" itemprop="contentUrl" data-size="1000x1500">
                  <img src="__index__/img/slider_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_4.jpg" itemprop="contentUrl" data-size="1000x662">
                  <img src="__index__/img/gal_img_sm_4.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>

              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_1.jpg" itemprop="contentUrl" data-size="1000x666">
                  <img src="__index__/img/gal_img_sm_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_2.jpg" itemprop="contentUrl" data-size="1000x667">
                  <img src="__index__/img/gal_img_sm_2.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_3.jpg" itemprop="contentUrl" data-size="1000x1500">
                  <img src="__index__/img/gal_img_sm_3.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_4.jpg" itemprop="contentUrl" data-size="1000x662">
                  <img src="__index__/img/gal_img_sm_4.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>

              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_1.jpg" itemprop="contentUrl" data-size="1000x666">
                  <img src="__index__/img/gal_img_sm_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_2.jpg" itemprop="contentUrl" data-size="1000x667">
                  <img src="__index__/img/gal_img_sm_2.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_3.jpg" itemprop="contentUrl" data-size="1000x1500">
                  <img src="__index__/img/gal_img_sm_3.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="img/gal_img_full_4.jpg" itemprop="contentUrl" data-size="1000x662">
                  <img src="__index__/img/gal_img_sm_4.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by sc.chinaz.com" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    {include file="Common/footer"}


  </body>
</html>
