{include file="public/header"}
<link href="__STATIC__/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>管理员管理</cite></a>
              <a><cite>管理员管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <xblock>
                <div class="layui-btn"><i class="layui-icon"></i><a href="{:url('admin/add')}" id="add">添加</a></div>
                <span class="x-right" style="line-height:40px">共有数据：{$confCount}条</span>
            </xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>管理员名称</th>
                        <th>所属用户组</th>
                        <th>最后登陆ip</th>
                        <th>最后登陆时间</th>
                        <th>登陆次数</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody >
                    {volist name="adminRes" id="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.uname}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.id}</td>
                            <td>{$vo.last_time|date="Y年m月d日 H时i分s秒",###}</td>
                            <td>{$vo.login_count}</td>
                            <td align="center">
                                <label>
                                    <input id="{$vo.id}" {if condition="$vo['status'] eq 1"} checked="checked" {/if} {if condition="$vo['id'] eq 1"} disabled="disabled" {/if} class="checkbox-slider colored-darkorange" type="checkbox" onclick="changestatus(this);">
                                    <span class="text" style="cursor:pointer;"></span>
                                </label>
                            </td>
                            <td class="td-manage">
                                <a href="{:url('admin/edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm shiny">
                                    <i class="layui-icon"></i>编辑
                                </a>
                                <a href="{:url('admin/delete',array('id'=>$vo['id']))}" class="btn btn-danger btn-sm shiny">
                                    <i class="layui-icon">&#xe640;</i>删除
                                </a>
                            </td>
                        </tr>
                    {/volist}
                </tbody>
            </table>
            <div id="page">{$adminRes->render()}</div>
        </div>
        <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
        <script src="__STATIC__/js/x-layui.js" charset="utf-8"></script>
        <script>
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层
              form = layui.form();
            })

            function changestatus(o){
                var id=$(o).attr('id');
                $.ajax({
                    type:'POST',
                    dataType:'json',
                    data:{id:id},
                    url:"{:url('admin/changestatus')}",
                    success:function(data){

                    }
                });
            };
        </script>
    </body>
</html>
