

    {include file="Common/header"}
    <!-- Fixed navbar -->

    {include file="Common/nav"}
    <section class="flexslider">
      <ul class="slides">
        <li style="background-image: url(__index__/img/slider_1.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">progress</h1>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(__index__/img/slider_2.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">article</h1>
                </div>
              </div>
            </div>
          </div>

      </ul>
    </section>
    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 probootstrap-animate">
            <h2 class="mb0">about</h2>
          </div>
          <div class="col-md-6 probootstrap-animate">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum distinctio nisi, et, veritatis quam amet nobis voluptatibus aliquid itaque cupiditate error minus voluptas ex qui laboriosam totam hic, odio, ipsam?</p>

        </div>
      </div>
    </section>




    {include file="Common/footer"}


  </body>
</html>
