{include file="Common/header"}
<!-- Fixed navbar -->
{include file="Common/nav"}

<section class="flexslider">
  <ul class="slides">
    <li style="background-image: url(__index__/img/slider_1.jpg)" class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="probootstrap-slider-text text-center">
              <h1 class="probootstrap-heading">article</h1>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</section>

<section class="probootstrap-section probootstrap-bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate" data-animate-effect="fadeIn">
        <h2>{$arts.title}</h2>
      </div>
    </div>
    <!-- END row -->
    <div class="row">
        <div class="col-md-6" style="margin-bottom:30px;"><span><strong>所属分类：</strong><a href="
            {if condition="$curCates['cate_attr'] eq 1"}{:url('Cate/index',array('cid'=>$curCates['id']))}{/if}
            {if condition="$curCates['cate_attr'] eq 2"}{:url('Page/index',array('cid'=>$curCates['id']))}{/if}
            {if condition="$curCates['cate_attr'] eq 3"}{$curCates.link}{/if}
            ">{$curCates.cate_name}</a></span>
            <span style="margin-left:30px;"><strong>发布时间：</strong><strong>{$arts.time|date="Y-m-d",###}</strong></span>
            <span><strong></strong></span>
        </div>
        <div class="col-md-6" style="float:right;" skinobjectzone="HtmlBreadCrumb_3803"><span>当前位置：</span><a href="{:url('Index/index')}">主页</a> >
        {volist name="pos" id="cate"}
        <a href="
            {if condition="$cate['cate_attr'] eq 1"}{:url('Cate/index',array('cid'=>$cate['id']))}{/if}
            {if condition="$cate['cate_attr'] eq 2"}{:url('Page/index',array('cid'=>$cate['id']))}{/if}
            {if condition="$cate['cate_attr'] eq 3"}{$cate.link}{/if}
            ">{$cate.cate_name}</a> {if condition="$i neq count($pos)"} > {/if}
        {/volist}
        </div>
      <div class="col-md-12">
        {$arts.content}
      </div>
    </div>

  </div>
</section>


{include file="Common/footer"}

</body>
</html>
