    {include file="Common/header"}
    <!-- Fixed navbar -->
    {include file="Common/nav"}

    <section class="flexslider">
      <ul class="slides">
        <li style="background-image: url(__index__/img/slider_1.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading">article</h1>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate" data-animate-effect="fadeIn">
            <h2>{$cates.cate_name}</h2>
          </div>
        </div>
        <!-- END row -->
        <div class="row">
          <div class="col-md-12">
              {volist name="artRes" id="art"}
               <div class="probootstrap-service-2 probootstrap-animate">
                 <div class="image">
                   <div class="image-bg">
                       <a href="{:url('Article/article',array('aid'=>$art['id']))}">
                         <img src="/public/static/index/uploads/article/{$art.litpic}" alt="m">
                        </a>
                   </div>
                 </div>
                 <div class="text">
                  <a href="{:url('Article/article',array('aid'=>$art['id']))}">
                     <h3>{$art.title}</h3>
                   </a>
                   <p>{$art.description}</p>
                 </div>
               </div>
              {/volist}
          </div>
        </div>

      </div>
    </section>


    {include file="Common/footer"}

  </body>
</html>
