

    {include file="Common/header"}
    <!-- Fixed navbar -->

    {include file="Common/nav"}


    <section class="flexslider">
      <ul class="slides">
        <li style="background-image: url(__index__/img/slider_1.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading">About Us</h1>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>{$topCates.cate_name}</h2>
          </div>
        </div>
        <!-- END row -->
        <div class="row mb40">
          <div class="col-md-12 probootstrap-animate">
            <p>{$topCates.content}</p>
          </div>
        </div>
        <!-- END row -->

        <div class="row">
          <div class="col-md-4 probootstrap-animate">
            <img src="__index__/img/img_sm_4.jpg" alt="Free Bootstrap Template by sc.chinaz.com" class="img-responsive">
          </div>
          <div class="col-md-4 probootstrap-animate">
            <img src="__index__/img/img_sm_2.jpg" alt="Free Bootstrap Template by sc.chinaz.com" class="img-responsive">
          </div>
          <div class="col-md-4 probootstrap-animate">
            <img src="__index__/img/img_sm_3.jpg" alt="Free Bootstrap Template by sc.chinaz.com" class="img-responsive">
          </div>
        </div>

      </div>
    </section>

    {include file="Common/footer"}

  </body>
</html>
