<script data-main="/js/main.js" src="__index__/js/require.min.js"></script>
<script>
        if ($(".left-col").is(":visible")) {
            var duoshuoQuery = {short_name:"majormayer"};
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'http://static.duoshuo.com/embed.js';
                s.async = true; s.charset = 'UTF-8';
                (d.head || d.body).appendChild(s);
            })();

            $(document).ready(function(){
                var $duoshuoCount = $(".ds-thread-count");
                $duoshuoCount.bind("DOMNodeInserted", function(e) {
                    var num = $(this).text().replace(/[^0-9]/ig,"");
                    $(this).siblings(".count-comment").text(num);
                    $(this).remove();
                })
            })
        }
    </script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
            processEscapes: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
<script src="__index__/js/mathjax.js"></script>
<div class="scroll" id="scroll">
    <a href="#" title="返回顶部"><i class="fa fa-arrow-up"></i></a>
    <a href="#comments" onclick="load$hide();" title="查看评论"><i class="fa fa-comments-o"></i></a>
    <a href="#footer" title="转到底部"><i class="fa fa-arrow-down"></i></a>
</div>
<script>
var oOpenInNew = {
    archives: ".archive-article-title",
    miniArchives: "a.post-list-link",
    friends: "#js-friends a",
    socail: ".social a"
}
for (var x in oOpenInNew) {
    $(oOpenInNew[x]).attr("target", "_blank");
}
</script>
<script>
    var originTitle = document.title;
    var titleTime;
    document.addEventListener("visibilitychange", function() {
        if (document.hidden) {
            document.title = "等你回来哦~ " + originTitle;
            clearTimeout(titleTime);
        }
        else {
            document.title = "欢迎回来~ " + originTitle;
            titleTime = setTimeout(function() {
                document.title = originTitle;
            }, 2000);
        }
    })
</script>
<script async src="__index__/js/busuanzi.pure.mini.js"></script>
</div>
<iframe id="muzik" style="position: fixed;top: 0;left: 0;" frameborder="no" border="0" marginwidth="0" marginheight="0" width=300 height=86 src="http://music.163.com/outchain/player?type=2&id=28949906&auto=0&height=66"></iframe>
</body>
<style>@media screen and (max-width:800px){#muzik{display:none}}</style>
</html>
