{include file="public/header"}
<script>

    function checkusername(){
        var myform = document.getElementById("form1");
        var model_name = myform.model_name.value.length;
        if(model_name < 1||model_name>12)
        {
            errusername.innerHTML = "<font color='red'>模型名称不符合要求</font>";
            return false;
        }else{
            errusername.innerHTML = "<font color='green'>模型名称符合要求</font>";
            return true;
        }
    }

    function checkename(){
        var myform = document.getElementById("form1");
        var table_name=/^[A-Za-z]+$/;
        if(!table_name.test(myform.table_name.value))
        {
            errename.innerHTML = "<font color='red'>附加表名称不符合要求</font>";
            return false;
        }else{
            errename.innerHTML = "<font color='green'>附加表名称符合要求</font>";
            return true;
        }
    }
</script>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb" style="visibility: visible;">
              <a><cite>首页</cite><span class="layui-box">&gt;</span></a>
              <a href="{:url('model/index')}"><cite>配置管理</cite><span class="layui-box">&gt;</span></a>
              <a><cite>配置管理列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <form class="layui-form" id="form1" method="post" action="{:url('model/save')}">
                <input type="hidden" name="id" value="{$models.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">模型名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="model_name" onblur="checkusername()" value="{$models.model_name}" autocomplete="off" placeholder="请输入您的模型名称" class="layui-input">
                        <div id="errusername" align="center"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">附加表名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="table_name" onblur="checkename()" value="{$models.table_name}" autocomplete="off" placeholder="请输入您的附加表名称" class="layui-input">
                        <div id="errename" align="center"></div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">开启状态</label>
                    <div class="layui-input-block">
                        <div style="float:left; padding-left:10px;">
                            <label>
                                <input checked="checked" name="status" {if condition="$models['status'] eq 1"} checked="checked" {/if} value="1" title="开启" type="radio">
                            </label>
                        </div>
                        <div style="float:left; padding-left:10px;">
                            <label>
                                <input  name="status" {if condition="$models['status'] eq 0"} checked="checked" {/if} value="0" title="关闭" type="radio">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="save" lay-submit="">
                        保存
                    </button>
                </div>
            </form>
        </div>
        <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
        <script src="__STATIC__/js/x-layui.js" charset="utf-8"></script>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;var form = layui.form(),layer = layui.layer;
            });
        </script>

    </body>

</html>
